//###############################################
// VARIABLES
//###############################################

$headerheight: 300px;
$darkblue: #0C2B38;
$midblue: #133B4E;
$lightblue: #5E8E95;
$lighestblue: #6CC1D7;
$superlightblue: #A8DAE7;



//###############################################
// GLOBALS
//###############################################

html,body{
	width:100%;
	height:100%;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400; 
	font-size: 74px;
	line-height: 64px;
	text-transform: uppercase;
}

span {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400; 
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
}


//###############################################
// HEADER
//###############################################

.header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:$headerheight;
	z-index:10;
	.logo-type{
		position:absolute;
		left:50%;
		// top:$headerheight;
		top:0;
		transform: translate(-100%, 0);
		height:$headerheight;
		width:$headerheight;
		background-color:$midblue;
		img{
			$logotypewidth:60%;
			width:$logotypewidth;
			height:$logotypewidth;
			margin-top:(100-$logotypewidth)/2;
			margin-left:(100-$logotypewidth)/2;
		}
	}
	.logo{
		// float:left;
		height:$headerheight;
		width:$headerheight;
		background-color:$lighestblue;
		position: absolute;
		top:0;
		left: 50%;
		z-index: 10;
		// transform: translate(50%, 0);
		img{
			$logowidth:70%;
			width:$logowidth;
			height:$logowidth;
			margin-left:(100-$logowidth)/2;
			margin-top:(100-$logowidth)/2;
		}
	}

}

// header{
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	right:0;
// 	top:0;
// 	background-color:$darkblue;
// }


//###############################################
// HERO
//###############################################

.hero{
	height:100%;
	text-align:center;
	overflow:hidden;
	position:relative;
	background: 
		linear-gradient( to bottom right, rgba($lightblue, 0.6) 0, rgba($darkblue, 0.8) 80% ),
		repeating-linear-gradient( 45deg, transparent, transparent 10px, $lighestblue 10px, $lightblue 20px ),
		linear-gradient( to bottom, $lighestblue, $lightblue );
	h2{
		margin:0 auto;
		margin-top:370px;
		max-width: 60%;
		color: white;
	}
	.pointer{
		width:200px;
		height:200px;
		position:absolute;
		left:50%;
		transform:translate(-50%,0);
		bottom:-120px;
		z-index:4;
		&::before{
			width:200px;
			height:200px;
			position:absolute;
			top:0;
			left:0;
			content:"";
			transform:rotate(45deg);
			background-color:$midblue;
			transition:all 0.3s ease;
		}
		.arrow{
			width:200px;
			height:200px;
			position:relative;
			z-index:5;
			&::after{
				width:2px;
				height:20px;
				border-radius:3px;
				content:"";
				display:block;
				position:absolute;
				top:20px;
				left:50%;
				transform:translate(-100%,0);
				transform:rotate(-45deg);
				transform-origin:bottom center;
				background-color:$lighestblue;
				transition:all 0.3s ease;
			}
			&::before{
				width:2px;
				height:20px;
				border-radius:3px;
				content:"";
				display:block;
				position:absolute;
				top:20px;
				left:50%;
				transform:rotate(45deg);
				transform-origin:bottom center;
				background-color:$lighestblue;
				transition:all 0.3s ease;
			}
			.featured{
				color:$lighestblue;
				font-size:0.7em;
				position:absolute;
				top:24px;
				left:14px;
				opacity:0;
				transition:all 0.3s ease;
			}
			.projects{
				color:$lighestblue;
				font-size:0.7em;
				position:absolute;
				top:24px;
				right:14px;
				opacity:0;
				transition:all 0.3s ease;
			}
			&:hover{
				
			}
		}
		&:hover{
			&::before{
				transform:rotate(0deg);
			}
			.arrow::after{
				transform:rotate(0deg);
			}
			.arrow::before{
				transform:rotate(0deg);
			}
			.featured{
				opacity:1;
			}
			.projects{
				opacity:1;
			}
		}
	}
	
}


//###############################################
// PROJECTS
//###############################################

.projects{
	height:700px;
	position:relative;
	z-index:11;
	div{
		width:50%;
		height:100%;
		display:inline-block;
		float:left;
		cursor:pointer;
		overflow:hidden;
		position:relative;
	}
	.les-dreamers{
			background-color:blue;
			.logo-image{
				max-height:80%;
				max-width:80%;
				z-index:12;
				position:absolute;
				left:0;
				top:50%;
				transform:translate(0,-50%);
			}
		}
	.little-big-foot{
			background-color:green;
			.logo-image{
				max-height:60%;
				max-width:60%;
				z-index:12;
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
			}
	}
	.background-image{
		min-width:110%;
		min-height:110%;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
}


//###############################################
// FOOTER
//###############################################

.footer{
	height:$headerheight;
	background-color:$darkblue;
	line-height:$headerheight;
	p{
		margin-left:13%;
	}
	.social{
		float:right;
		margin-top:50px;
		height:50px;
	}
	.social li{
		display:inline-block;
		float:right;
		height:50px;
		width:50px;
		position:relative;
		margin-right:30px;
		svg{
			fill:$lighestblue;
			cursor:pointer;
		}
	}
	.email{
		svg{
			width:80%;
			height:80%;
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
		}
	}
	.linkedin{
		svg{
			width:70%;
			height:70%;
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
		}
	}
	.skype{
		svg{
			width:80%;
			height:80%;
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
		}
	}
}
