@media only screen and (max-width: 660px) {
	.hero h2 {
	font-size: 46px;
	line-height: 52px;
	margin-top:270px;
	max-width: 80%;
	}
	$headerheight:200px;
	.header{
		.logo-type{
			height:$headerheight;
			width:$headerheight;
		}
		.logo{
			height:$headerheight;
			width:$headerheight;
		}
	}
	.projects{
		div{
			height:50%;
			width:100%;
		}
	}
	.footer{
		.social{
			width:100%;
			margin:0 auto;
			li{
				float:none;
			}
			.email{
				margin-right:0;
			}
		}
		height:170px;
		text-align:center;
		p{
			margin-top:0px;
			width:100%;
		}
		.social{
			
		}
	}
	
}